<%= form_with(model: topickeyword, local: true) do |form| %>
  <% if topickeyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topickeyword.errors.count, "error") %> prohibited this topickeyword from being saved:</h2>

      <ul>
      <% topickeyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
